h3 {padding:15px;}

p {word-wrap: break-word;}


.section2 {clear: left;}

.navbar-header .navbar-toggle .icon-bar
{
  background-color:#2e6da4;
}

.top-buffer { padding-top:150px; }

#aboutTop {text-align: center;}
#usage {text-align: center;}
#aboutBot {text-align: center;}

#shivDonut{margin-bottom: 150px;}
#sosoDonut{margin-bottom: 150px;}
#ashanDonut{margin-bottom: 150px;}
#usagePlot{margin-bottom: 100px;}

@@media only screen and (max-width:900) {
  #shivDonut{float: left;}
  #sosoDonut{float: left;}
  #aliDonut{float: left;}
  #ashanDonut{float: left;}
  #aboutTop{float: left;}
  #aboutBot{float: left;}
}

#recent
{
  width: 90%;
  margin: auto;
}

#recentRow
{
  width: 95%;
  padding: 25px;
  margin: auto
}

.Promo
{
  text-align: center;
  margin: 5%
}

.Welcome
{
  text-align: center;
  margin: 5%
}

.textPromo
{
  text-align: center;
  float: right;
}


.textWelcome
{
  text-align: center;
  float: right;
}

.listPromo
{
  float: right;
  width: 40%;
}

.listPromo li
{
  padding: 10px;
  text-align: center;
}

.list
{
  margin: auto;
  position: absolute;
}


.imageWelcome
{
  float: right;
}

#image1
{
  margin: auto;
  vertical-align: middle;
}

#recentP
{
  height: 100%;
  width: 100%;
  margin: auto;
  vertical-align: middle;
}

#form
{
  padding: 15px;
}
